@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active link styles */
.active {
    background-color: #e0f2ff; /* Light blue background */
    border-radius: 0.5rem; /* Optional: add rounded corners */
    display: block; /* Ensures the style is applied to the whole link */
}

.active a {
    color: #1e3a8a; /* Dark blue text color */
}
